@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body {
            background-color: #ffb3b3;
        }
    </style>
</head>
<body>
    <center>
        <img src="~/images/Fundal.png" width="800" height="500" />
    </center>
</body>
